<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>862247011568-jhiscr646bi1468mop0c3qaqhmvkqpo6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.862247011568-jhiscr646bi1468mop0c3qaqhmvkqpo6</string>
	<key>API_KEY</key>
	<string>AIzaSyAQ7EYlnmzuPgxtValgxCzl22AU13oDZBM</string>
	<key>GCM_SENDER_ID</key>
	<string>862247011568</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mizu</string>
	<key>PROJECT_ID</key>
	<string>mizu-4b970</string>
	<key>STORAGE_BUCKET</key>
	<string>mizu-4b970.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:862247011568:ios:e4e619abd0bf208a622e35</string>
</dict>
</plist>